*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/release/
.gradle/
build/
app/build/
local.properties
.idea/
*.iml
.DS_Store
captures/
.kotlin/
*.jks
*.keystore
